@media screen and (min-width: 610px) {
   .disable-div {
      display: none;
   }
}
@media screen and (max-width: 1200px) {
   .add-area {
      flex-direction: column;
   }
   .book-list {
      margin: 20px 0px !important;
   }
}

@media screen and (max-width: 700px) {
   .select-div {
      width: 300px;
   }
}
@media screen and (max-width: 600px) {
   .nav-bar {
      padding: 40px 0px;
      justify-content: center;
   }
   .pop-up-account {
      right: 10px;
   }
   .title {
      display: flex;
      margin-right: 20px;
   }

   li {
      padding: 0px 20px;
   }
   .dash-board {
      padding-left: 30px;
   }
}
@media screen and (max-width: 440px) {
   ul {
      display: none;
   }

   .title {
      display: flex;
      margin-right: 30px;
      justify-content: space-evenly;
      width: 200px;
   }
   .pop-up-account {
      right: 20px;
   }
   .config-item {
      margin: 20px 0px;
      font-size: 0.9rem;
   }
   .select-div {
      width: 200px;
   }
}
