body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  color: #4f5d73;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

input {
  padding: 10px;
}

.App {
  position: relative;
  height: 100%;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #3c4b64;
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.sidebar-visible {
  width: 200px;
  height: 100vh;
  background-color: #3c4b64;
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.sidebar-un-visible {
  width: 200px;
  height: 100vh;
  background-color: #3c4b64;
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.disable-div {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 2;
  top: 0;
  bottom: 0;
  height: 100%;
}

.side-bar-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 30px 40px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-bar-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar-item div svg {
  margin-right: 20px;
  width: 20px !important;
}

.side-bar-item:hover {
  background-color: #25334b;
}

.side-bar-header {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 40px;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14), 0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
          box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14), 0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul a {
  color: #4f5d73;
}

li {
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

li span {
  margin-left: 8px;
  padding-bottom: 2px;
}

.avatar {
  width: 40px;
  border-radius: 20px;
}

.pop-up-account {
  position: fixed;
  top: 90px;
  right: 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 150px;
  background-color: #fff;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.pop-up-account p {
  padding: 10px 0px;
  cursor: pointer;
}

.pop-up-account p svg {
  width: 20px !important;
  margin-right: 5px;
}

.title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  margin-left: 20px;
}

.title svg {
  margin-right: 20px;
}

.narrow-down {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#narrow-icon {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup-link a {
  color: #4f5d73;
}

.dash-board {
  padding-left: 220px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.access {
  width: 100vw;
  height: 400px;
  border-radius: 30px;
}

.card {
  width: 100%;
  margin: 0px 10px;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(45deg, #f9b115, #f6960b) !important;
  border-color: #f6960b !important;
  color: #fff;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 610px) {
  .disable-div {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .add-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .book-list {
    margin: 20px 0px !important;
  }
}

@media screen and (max-width: 700px) {
  .select-div {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    padding: 40px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pop-up-account {
    right: 10px;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
  }
  li {
    padding: 0px 20px;
  }
  .dash-board {
    padding-left: 30px;
  }
}

@media screen and (max-width: 440px) {
  ul {
    display: none;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 200px;
  }
  .pop-up-account {
    right: 20px;
  }
  .config-item {
    margin: 20px 0px;
    font-size: 0.9rem;
  }
  .select-div {
    width: 200px;
  }
}

.data-grid {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table {
  height: 600px;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.dialog {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-grid-btn {
  width: 60px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80px;
}

.edit-btn {
  background-color: #39f;
  border-color: #39f;
}

.input-info {
  margin: 8px 0px;
  width: 400px;
}

.input {
  width: 100%;
  padding: 10px;
}

.save-button {
  background: linear-gradient(45deg, #2eb85c, #169b42);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  border-color: #169b42;
}

.cancel-button {
  background-color: #c91212;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  border-color: #c91212;
}

.button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
}

.error {
  color: #c91212;
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: bold;
}

.delete-btn {
  background-color: #c91212;
  border-color: #c91212;
  width: 120px;
}

.import-button {
  padding: 10px;
  background: linear-gradient(45deg, #2eb85c, #169b42);
  border-color: #2eb85c;
  border-radius: 5px;
  color: #fff;
  width: 180px;
  margin-right: 20px;
}

.add-button {
  padding: 10px;
  background: linear-gradient(45deg, #f9b115, #f6960b);
  border-color: #f9b115;
  border-radius: 5px;
  color: #fff;
  width: 150px;
  margin-right: 20px;
}

.MuiDataGrid-root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.outside-button {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-header {
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.select-category {
  width: 150px;
  padding: 8px;
  background-color: #ededed;
  border: 1px solid;
}

.loading-row {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3c4b64;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.delete-dialog {
  padding: 30px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.plus-block {
  margin-bottom: 10px;
}

.plus-block input {
  padding: 10px;
  margin-right: 20px;
}

.plus-block button {
  padding: 10px;
}

.search {
  padding: 10px;
}

.filter-category {
  width: 120px;
  padding: 10px;
}

.MuiDataGrid-main {
  font-size: 0.8rem;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

.config-item {
  margin-bottom: 20px;
  margin-left: 40px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.config-item h4 {
  text-transform: uppercase;
  color: #0a0122;
  letter-spacing: 0.1rem;
}

.setting-title {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.setting-title span {
  text-transform: uppercase;
}

.setting-title svg {
  font-size: 1.5rem;
}

.setting-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0.5px;
  bottom: 0.5px;
}

.config-input {
  padding: 5px;
  outline: none;
  width: 100px;
  margin-left: 20px;
}

.order-add-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-div {
  margin: 30px 0px;
}

.select-div p {
  margin-bottom: 20px;
}

.select-div button {
  padding: 10px;
  margin-left: 20px;
}

.select-div input {
  padding: 10px;
}

.main-title {
  letter-spacing: 0.1rem;
  margin-bottom: 15px;
}

.order-table {
  width: 100%;
  height: 600px;
  padding-top: 30px;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding-right: 30px;
}

.order-table h4 {
  margin-bottom: 20px;
}

.order-button {
  padding: 10px;
}

.current-book-list {
  height: 100%;
  overflow: auto;
  padding-bottom: 15px;
}

.book-list {
  width: 400px;
  max-height: 455px;
  margin-left: 160px;
}

.book-list p {
  margin-top: 10px;
}

.delete-book-button {
  padding: 8px;
  background-color: #c91212;
  border-color: #c91212;
  border-radius: 5px;
  color: #fff;
}

.add-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.book-item {
  margin: 15px 0px;
}

.book-item span {
  font-weight: bold;
}

.book-item p {
  margin: 5px 0px;
}

.book-item button {
  margin-top: 5px;
}

.add-bill-div button {
  padding: 10px;
  background: linear-gradient(45deg, #2eb85c, #169b42);
  color: #fff;
  border-color: green;
  border-radius: 5px;
}

.add-bill-div button span {
  margin-left: 10px;
}

tr th {
  padding: 0px 10px;
}

tr td {
  padding: 0px 10px;
}

.empty-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: rgba(128, 128, 128, 0.877);
  font-size: 1.5rem;
}

.empty-list span {
  margin-left: 10px;
}

.update-bill-dialog {
  font-size: 0.8rem;
  padding: 20px 70px;
  width: 500px;
  overflow-x: hidden;
}

.book-list-dialog {
  height: 250px;
}

.select-div-dialog {
  margin: 20px 0px;
}

.select-div-dialog p {
  margin-bottom: 10px;
}

.select-div-dialog button {
  padding: 10px;
}

.select-div-dialog input {
  padding: 10px;
}

.button-div-order {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.order-data {
  position: relative;
  height: 600px;
}

.login-dialog {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-credential {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
}

.input-credential input {
  padding: 10px;
}

.select-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.money-input {
  margin-right: 20px;
}

.customer-select {
  width: 300px;
  margin-right: 20px;
}

.update-payment-dialog {
  padding: 20px;
  height: 280px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-payment {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.date-picker {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.date-picker span {
  font-weight: bold;
  margin-right: 20px;
  text-transform: uppercase;
}

.date-picker div {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */